extends ../layout

block content
	h1 Welcome to Library Books
	a(href="/books/create") Create New Books 
	form(action="/search")
		input(type="text",name="name",class="mr-3 form")
		btn(class="btn btn-primary") Search
	ul
		each book in books
			li(class="mb-3")
				span= book.title
				span &nbsp
				span &nbsp
				span &nbsp
				span= book.detail
				span &nbsp
				span &nbsp
				a(href="/books/" + book.idBook,class="btn btn-primary mr-3") View Book
				span &nbsp
				span &nbsp  
				a(href="/books/"+ book.idBook + "/delete",class="btn btn-primary mr-3") Delete Book
				span &nbsp
				span &nbsp
				a(href="/books/"+ book.idBook +"/edit",class="btn btn-primary mr-3") Edit Title Book
