extends ../layout

block content
	h1 Welcome to Library Books
	a(href="/books/create") Create New Books 
	form(action="/search")
		input(type="text",name="name",class="mr-3 form")
		btn(class="btn btn-primary") Search
	table.table
		tr
			th Book Title
			th Book Description
			th View Book
			th Edit Title
			th Delete Book
		each book in books
			tr
				td= book.title
				td= book.detail
				td
					a(href="/books/" + book.idBook,class="btn btn-primary ") View Book
				td
					a(href="/books/"+ book.idBook +"/edit",class="btn btn-primary ") Edit Title Book
				td
					a(href="/books/"+ book.idBook + "/delete",class="btn btn-primary ") Delete Book
