h1 This is All Transcations 

a(href="/trancation/create") Create New Transcation

ul
	each el in trancations 
		li
			span= el.match.user + " mượn quyển sánch " + el.match.book
				span &nbsp
				span &nbsp
				span &nbsp
